## 190823
- find a sample case to run :
- select pdb_release_id from pdb_local where xml_path is not null and pdb_release_id in (select distinct(pdb_release_id) from pdb_chain where id in (select pdb_chain_id from raf where last_release_id = 18)) limit 5;  
+----------------+  
| pdb_release_id |    
+----------------+  
|          66518 |  
|          66755 |  
|          66756 |  
|          67708 |  
|         114278 |  
+----------------+  

- select * from pdb_chain where pdb_release_id = 66518 ;  
+--------+----------------+-------+----------------+  
| id     | pdb_release_id | chain | is_polypeptide |  
+--------+----------------+-------+----------------+  
| 398066 |          66518 | D     |              1 |  
| 398067 |          66518 | E     |              1 |  
| 398068 |          66518 | F     |              1 |  
| 398069 |          66518 | A     |              1 |  
| 398070 |          66518 | B     |              1 |  
| 398071 |          66518 | C     |              1 |  
+--------+----------------+-------+----------------+  

- select * from pdb_chain_dbref where pdb_chain_id in (select pdb_chain_id from raf where pdb_chain_id in (select id from pdb_chain where pdb_release_id = 66518) and raf_version_id = 3);  
+---------+--------------+---------+------------+--------------+----------------+--------------+-----------------+---------------+  
| id      | pdb_chain_id | db_name | db_code    | db_accession | db_align_start | db_align_end | pdb_align_start | pdb_align_end |  
| 5539951 |       398069 | UNP     | HIS6_THEMA |              |              1 |          253 |               0 |             252 |  
| 5539952 |       398071 | UNP     | HIS6_THEMA |              |              1 |          253 |               0 |             252 |  
| 5539953 |       398067 | UNP     | HIS6_THEMA |              |              1 |          253 |               0 |             252 |  
| 5539954 |       398070 | UNP     | HIS5_THEMA |              |              1 |          201 |               0 |             200 |  
| 5539955 |       398066 | UNP     | HIS5_THEMA |              |              1 |          201 |               0 |             200 |  
| 5539956 |       398068 | UNP     | HIS5_THEMA |              |              1 |          201 |               0 |             200 |  
+---------+--------------+---------+------------+--------------+----------------+--------------+-----------------+---  
- select * from uniprot where long_id = 'HIS6_THEMA' and is_obsolete = 0;  
| id       | long_id    | is_swissprot | seq_version | seq_date   | entry_name | is_obsolete |   
92046954 | HIS6_THEMA |            1 |           1 | 1999-11-01 | Imidazole glycerol phosphate synthase subunit HisF |           0 |   

- select * from uniprot_seq where uniprot_id = 92046954;  
+------------+--------+  
| uniprot_id | seq_id |  
+------------+--------+  
|   92046954 |  71862 |  
+------------+--------+  

- from astral_seq: 
"mlakriiacldvkdgrvvkgtnfenlrdsgdpvelgkfyseigidelvflditasvekrktmlelvekvaeqidipftvgggihdfetaselilrgadkvsintaavenpslitqiaqtfgsqavvvaidakrvdgefmvftysgkkntgillrdwvvevekrgageilltsidrdgtksgydtemirfvrplttlpiiasggagkmehfleaflagadaalaasvfhfreidvrelkeylkkhgvnvrlegl"  
- from raf: 1-253

- db_align is 1-indexed
- pdb_align is 0-indexed

## 190825
- Make a new table compare_seq with the following columns:
  - pdb_release_id
  - pdb_chain_id
  - raf_available
  - long_id
  - uniprot_id
  - seq_id
  - is_same

## 190829
`CREATE TABLE compare_seq (pdb_release_id INT NOT NULL,pdb_chain_id INT NOT NULL,raf_available Bool NOT NULL,long_id TEXT NOT NULL, uniprot_id INT NOT NULL,seq_id INT NOT NULL,is_same Bool NOT NULL);`

## 190830
- continue writing functionCompareUniprotSeqres

## 190903
- read the CAGI assessment paper
- complete the string comparison and update part of function CompareUniprotSeqres
- group meeting

## 190904
- CompareUniprotSeqres 66518

## 190905
- some issue arose while runnning the CompareUniprotSeqres on all the entries
- specifically, there're cases where db_align is 0-indexed instead of 1-indexed and lead to incorrect substring
  for now, write an exception to add 1 if db_align_start is zero.
- there're also cases where the pdb_align_start is NULL, which shouldn't be the case
- sanity check on whether I'm selecting the desired subset of the database

The code below check the number of raf entries with last_release_id of 18 and have a version=3 raf entry
`select count(*) from raf where pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18) and first_release_id is null and last_release_id is null and raf_version_id = 3;`  
+----------+  
| count(*) |  
+----------+  
|   207690 |  
+----------+  

The code below check the total number of raf_version = 3 entries:
`select count(*) from raf where raf_version_id = 3 and last_release_id is null and first_release_id is null;`
+----------+  
| count(*) |  
+----------+  
|   641695 |  
+----------+    

The code below check whether there're pdb_chain_id with release_id of 18 but does not have a raf_version_id = 3 entry  
`select count(*) from raf where pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18) and pdb_chain_id not in (select distinct(pdb_chain_id) from raf where pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18) and first_release_id is null and last_release_id is null and raf_version_id = 3);
+----------+
| count(*) |
+----------+
|        0 |
+----------+
`
 
and vice versa  
`select count(*) from raf where pdb_chain_id in (select distinct(pdb_chain_id) from raf where pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18) and first_release_id is null and last_release_id is null and raf_version_id = 3) and pdb_chain_id not in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
+----------+
| count(*) |
+----------+
|        0 |
+----------+
1 row in set (35.68 sec)
`

and thus all the raf with release_id = 18 has a corresponding raf_version = 3 entry


Then, check on how many pdb_align_start/end have null in pdb_chain_dbref with release id of 18 . 
`select count(*) from pdb_chain_dbref where pdb_align_start IS NULL and pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
+----------+
| count(*) |
+----------+
|      274 |
+----------+
1 row in set (13.34 sec)
`
`
MySQL [scop]> select count(*) from pdb_chain_dbref where pdb_align_end IS NULL and pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
+----------+
| count(*) |
+----------+
|      217 |
+----------+
1 row in set (14.38 sec)
`

`
MySQL [scop]> select count(*) from pdb_chain_dbref where pdb_align_end IS NULL and pdb_align_start IS NULL and pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
+----------+
| count(*) |
+----------+
|      170 |
+----------+
`  

`
select count(*) from pdb_chain_dbref where pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
+----------+
| count(*) |
+----------+
|   216161 |
+----------+
1 row in set (25.02 sec)
`

And so out of the 216161 entries within pdb_release_id = 18, there're ~300 entries with pdb_alignment_issue, for now, write an exception to exclude these entries from execution.

To see how many pdb_release_id is needed to be iterated from:
`select distinct(pdb_release_id) from pdb_chain where id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
88499 rows in set (25.70 sec)`

refine the pdb_release_id selection, the previous error results from pdb_chain_id where the pdb_release_id = 11

## 190909
- encounter a running issue :    
`
db_code = FABB_ECOLI
get uniprot_id = 92044961
get seq_id = 111052
 db_align_start: -13 db_align_end: -1 pdb_align_start: 0 pdb_align_end: 10
Exception: String index out of range: -13
`

To get the pdb_chain_id and pdb_release_id involved in the error:
`select pdb_chain_id from raf where raf_version_id = 3 and pdb_chain_id in (select pdb_chain_id from pdb_chain_dbref where db_code = 'FABB_ECOLI'and db_align_start < 0) and pdb_chain_id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);`

`    
+--------------+
| pdb_chain_id |
+--------------+
|       206605 |
|       206607 |
|       206606 |
|       206604 |
+--------------+
`

and these are the pdb_chain_ids related to pdb_release_id = 114975

`select * from pdb_chain where pdb_release_id = 114975;
+--------+----------------+-------+----------------+
| id     | pdb_release_id | chain | is_polypeptide |
+--------+----------------+-------+----------------+
| 206604 |         114975 | D     |              1 |
| 206605 |         114975 | A     |              1 |
| 206606 |         114975 | C     |              1 |
| 206607 |         114975 | B     |              1 |
+--------+----------------+-------+----------------+
`

get the corresponding dbref alignment information:

`
select pdb_chain_id,db_name,db_align_start,db_align_end,pdb_align_start,pdb_align_end from pdb_chain_dbref where pdb_chain_id in (select id from pdb_chain where pdb_release_id = 114975);
+--------------+---------+----------------+--------------+-----------------+---------------+
| pdb_chain_id | db_name | db_align_start | db_align_end | pdb_align_start | pdb_align_end |
+--------------+---------+----------------+--------------+-----------------+---------------+
|       206605 | UNP     |            -12 |           -1 |            NULL |            10 |
|       206605 | UNP     |              1 |          406 |              12 |           417 |
|       206607 | UNP     |            -12 |           -1 |            NULL |            10 |
|       206607 | UNP     |              1 |          406 |              12 |           417 |
|       206606 | UNP     |            -12 |           -1 |            NULL |            10 |
|       206606 | UNP     |              1 |          406 |              12 |           417 |
|       206604 | UNP     |            -12 |           -1 |            NULL |            10 |
|       206604 | UNP     |              1 |          406 |              12 |           417 |
+--------------+---------+----------------+--------------+-----------------+---------------+
`

- for now, write an exception when conducting substrings to ignore the checking when db_align_start is not reasonable, and also excludes the dbref entries where pdb_align_start/end is NULL

## 190910
- the program ended up being timed out, may need to close the stmt at the end of each execution
- add .close() statement to all the resultset and statement 
- re-execute the function
- encounter an alignment of 1 to 129 when there are only 127 AA in the sequence, for now write an exception that the seq length must >= the db_align_end index

## 190911
- capture an error when the set of astral sequence that is not rejected is empty
- check the state of table before halt:

`select count(*) from compare_seq where raf_available = 0 ;
+----------+
| count(*) |
+----------+
|      203 |
+----------+
`

`select count(*) from compare_seq where raf_available = 1 ;
+----------+
| count(*) |
+----------+
|     6002 |
+----------+
`

`select count(*) from compare_seq where raf_available = 1 and is_same = 0;
+----------+
| count(*) |
+----------+
|     4623 |
+----------+
`

`select count(*) from compare_seq where raf_available = 1 and is_same = 1;
+----------+
| count(*) |
+----------+
|     1379 |
+----------+
`

- in that sense, there're uniprot sequence with no corresponding astral_seq in the dataset, even if it's present in the uniprot seq table
- sanity check on the uniprot_seq that map to rejected sequences

`
select count(*) from uniprot_seq where seq_id in (select id from astral_seq where is_reject = 1); 
+----------+
| count(*) |
+----------+
|     1537 |
+----------+
`
- should ask John-Marc whether this case should be allowed
- For now if no corresponding seq in astral_seq is found, skip the round
- reset and run the whole function

## 190913
- The Compare function is still running.
- Check the current state of the compare_seq table

`
select count(*) from compare_seq where raf_available = 0;
+----------+
| count(*) |
+----------+
|      458 |
+----------+
`

`
MySQL [scop]> select count(*) from compare_seq where raf_available = 1;
+----------+
| count(*) |
+----------+
|    17164 |
+----------+
`

`
MySQL [scop]> select count(*) from compare_seq where raf_available = 1 and is_same = 0;
+----------+
| count(*) |
+----------+
|    13216 |
+----------+
`

`
MySQL [scop]> select count(*) from compare_seq where raf_available = 1 and is_same = 1;
+----------+
| count(*) |
+----------+
|     3949 |
+----------+
`
- TODO: find a unique identifier for the point mutations in dbref file

- List one incidence of unmapped
`
current pdbReleaseID is 66518   
pdb_chain_id = 398069   
raf_sequence =    1 mm   2 ll   3 aa   4 kk   5 rr   6 ii   7 ii   8 aa   9 cc  10 ll  11 nn  12 vv  13 kk  14 dd  15 gg  16 rr  17 vv  18 vv  19 kk  20 gg  21 tt  22 nn  23 ff  24 ee  25 nn  26 ll  27 rr  28 dd  29 ss  30 gg  31 dd  32 pp  33 vv  34 ee  35 ll  36 gg  37 kk  38 ff  39 yy  40 ss  41 ee  42 ii  43 gg  44 ii  45 dd  46 ee  47 ll  48 vv  49 ff  50 ll  51 dd  52 ii  53 tt  54 aa  55 ss  56 vv  57 ee  58 kk  59 rr  60 kk  61 tt  62 mm  63 ll  64 ee  65 ll  66 vv  67 ee  68 kk  69 vv  70 aa  71 ee  72 qq  73 ii  74 dd  75 ii  76 pp  77 ff  78 tt  79 vv  80 gg  81 gg  82 gg  83 ii  84 hh  85 dd  86 ff  87 ee  88 tt  89 aa  90 ss  91 ee  92 ll  93 ii  94 ll  95 rr  96 gg  97 aa  98 dd  99 kk 100 vv 101 ss 102 ii 103 nn 104 tt 105 aa 106 aa 107 vv 108 ee 109 nn 110 pp 111 ss 112 ll 113 ii 114 tt 115 qq 116 ii 117 aa 118 qq 119 tt 120 ff 121 gg 122 ss 123 qq 124 aa 125 vv 126 vv 127 vv 128 aa 129 ii 130 dd 131 aa 132 kk 133 rr 134 vv 135 dd 136 gg 137 ee 138 ff 139 mm 140 vv 141 ff 142 tt 143 yy 144 ss 145 gg 146 kk 147 kk 148 nn 149 tt 150 gg 151 ii 152 ll 153 ll 154 rr 155 dd 156 ww 157 vv 158 vv 159 ee 160 vv 161 ee 162 kk 163 rr 164 gg 165 aa 166 gg 167 ee 168 ii 169 ll 170 ll 171 tt 172 ss 173 ii 174 dd 175 rr 176 dd 177 gg 178 tt 179 kk 180 ss 181 gg 182 yy 183 dd 184 tt 185 ee 186 mm 187 ii 188 rr 189 ff 190 vv 191 rr 192 pp 193 ll 194 tt 195 tt 196 ll 197 pp 198 ii 199 ii 200 aa 201 ss 202 gg 203 gg 204 aa 205 gg 206 kk 207 mm 208 ee 209 hh 210 ff 211 ll 212 ee 213 aa 214 ff 215 ll 216 aa 217 gg 218 aa 219 dd 220 aa 221 aa 222 ll 223 aa 224 aa 225 ss 226 vv 227 ff 228 hh 229 ff 230 rr 231 ee 232 ii 233 dd 234 vv 235 rr 236 ee 237 ll 238 kk 239 ee 240 yy 241 ll 242 kk 243 kk 244 hh 245 gg 246 vv 247 nn 248 vv 249 rr 250 ll 251 ee 252 gg 253 ll    
db_code = HIS6_THEMA   
get uniprot_id = 92046954   
get seq_id = 71862  
astral_sequence =  mlakriiacldvkdgrvvkgtnfenlrdsgdpvelgkfyseigidelvflditasvekrktmlelvekvaeqidipftvgggihdfetaselilrgadkvsintaavenpslitqiaqtfgsqavvvaidakrvdgefmvftysgkkntgillrdwvvevekrgageilltsidrdgtksgydtemirfvrplttlpiiasggagkmehfleaflagadaalaasvfhfreidvrelkeylkkhgvnvrlegl    


db_align_start: 0 db_align_end: 253 pdb_align_start: 0 pdb_align_end: 252

seqres: mlakriiaclnvkdgrvvkgtnfenlrdsgdpvelgkfyseigidelvflditasvekrktmlelvekvaeqidipftvgggihdfetaselilrgadkvsintaavenpslitqiaqtfgsqavvvaidakrvdgefmvftysgkkntgillrdwvvevekrgageilltsidrdgtksgydtemirfvrplttlpiiasggagkmehfleaflagadaalaasvfhfreidvrelkeylkkhgvnvrlegl

astral: mlakriiacldvkdgrvvkgtnfenlrdsgdpvelgkfyseigidelvflditasvekrktmlelvekvaeqidipftvgggihdfetaselilrgadkvsintaavenpslitqiaqtfgsqavvvaidakrvdgefmvftysgkkntgillrdwvvevekrgageilltsidrdgtksgydtemirfvrplttlpiiasggagkmehfleaflagadaalaasvfhfreidvrelkeylkkhgvnvrlegl

diff = mlakriiaclnvkdgrvvkgtnfenlrdsgdpvelgkfyseigidelvflditasvekrktmlelvekvaeqidipftvgggihdfetaselilrgadkvsintaavenpslitqiaqtfgsqavvvaidakrvdgefmvftysgkkntgillrdwvvevekrgageilltsidrdgtksgydtemirfvrplttlpiiasggagkmehfleaflagadaalaasvfhfreidvrelkeylkkhgvnvrlegl
`
- The 2 sequences differ at position 11 (1-indexed), with all other parts aligned 
- Try to find the documentation of the differences in PDB file

`    
SEQADV 2CK9 ASN A   11  UNP  Q9X0C6    ASP    11 CONFLICT                       
SEQADV 2CK9 ASN C   11  UNP  Q9X0C6    ASP    11 CONFLICT                       
SEQADV 2CK9 ASN E   11  UNP  Q9X0C6    ASP    11 CONFLICT    
`

- The point mutation is documentated in the SEQADV portion

## 190920
- Checking the comparison running progress.
- the total number of pdb_release_id needed to be run on:

`
select count(distinct(pdb_release_id)) from pdb_chain where id in (select distinct(pdb_chain_id) from raf where last_release_id = 18)
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           88499 |
+---------------------------------+
`

`
select count(distinct(pdb_release_id)) from compare_seq;
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           32525 |
+---------------------------------+
`

## 190923
`
select count(distinct(pdb_release_id)) from pdb_chain where id in (select distinct(pdb_chain_id) from raf where last_release_id = 18)
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           88499 |
+---------------------------------+
`

`
select count(distinct(pdb_release_id)) from compare_seq;
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           43966 |
+---------------------------------+
`

# 190925
- select count(distinct(pdb_release_id)) from compare_seq;

`
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           52496 |
+---------------------------------+
`

The code stopped running, look into the error:
pdb_chain_id = 931940
 db_align_start: -7 db_align_end: 177 pdb_align_start: 0 pdb_align_end: 183
rs5 is not empty
get raf sequence !
raf_sequence =    1 mm   2 ll   3 dd   4 aa   5 ff   6 ss   7 rr   8 aa   9 vv  10 vv  11 qq  12 aa  13 dd  14 aa  15 ss  16 tt  17 ss  18 vv  19 vv  20 aa  21 dd  22 mm  23 gg  24 aa  25 ll  26 kk  27 qq  28 ff  29 ii  30 aa  31 ee  32 gg  33 nn  34 rr  35 rr  36 ll  37 dd  38 aa  39 vv  40 nn  41 aa  42 ii  43 aa  44 ss  45 nn  46 aa  47 ss  48 cc  49 mm  50 vv  51 ss  52 dd  53 aa  54 vv  55 aa  56 gg  57 mm  58 ii  59 cc  60 ee  61 nn  62 qq  63 gg  64 ll  65 ii  66 qq  67 aa  68 gg  69 gg  70 nn  71 cc  72 yy  73 pp  74 nn  75 rr  76 rr  77 mm  78 aa  79 aa  80 cc  81 ll  82 rr  83 dd  84 aa  85 ee  86 ii  87 ii  88 ll  89 rr  90 yy  91 vv  92 tt  93 yy  94 aa  95 ll  96 ll  97 aa  98 gg  99 dd 100 aa 101 ss 102 vv 103 ll 104 dd 105 dd 106 rr 107 cc 108 ll 109 nn 110 gg 111 ll 112 kk 113 ee 114 tt 115 yy 116 aa 117 aa 118 ll 119 gg 120 vv 121 pp 122 tt 123 tt 124 ss 125 tt 126 vv 127 rr 128 aa 129 vv 130 qq 131 ii 132 mm 133 kk 134 aa 135 qq 136 aa 137 aa 138 aa 139 hh 140 ii 141 kk 142 dd 143 tt 144 pp 145 ss 146 ee 147 aa 148 rr 149 aa 150 gg 151 gg 152 kk 153 ll 154 rr 155 kk 156 mm 157 gg 158 ss 159 pp 160 vv 161 vv 162 ee 163 dd 164 rr 165 cc 166 aa 167 ss 168 ll 169 vv 170 aa 171 ee 172 aa 173 ss 174 ss 175 yy 176 ff 177 dd 178 rr 179 vv 180 ii 181 ss 182 aa 183 ll 184 ss
db_code = A0A0E4G455_9CYAN
get uniprot_id = 92036766
get seq_id = 592682
astral_sequence =  avvqadastsvvadmgalkqfiaegnrrldavnaiasnascmvsdavagmicenqgliqaggncypnrrmaaclrdaeiilryvtyallagdasvlddrclnglketyaalgvpttstvravqimkaqaaahikdtpsearaggklrkmgspvvedrcaslvaeassyfdrvisals
 db_align_start: -7 db_align_end: 177 pdb_align_start: 0 pdb_align_end: 183
Exception: String index out of range: -7
java.lang.StringIndexOutOfBoundsException: String index out of range: -7
        at java.lang.String.substring(String.java:1960)
        at gov.lbl.scop.app.CompareUniprotSeqres.compareUniSeqRes(CompareUniprotSeqres.java:136)
        at gov.lbl.scop.app.CompareUniprotSeqres.main(CompareUniprotSeqres.java:183)


- for now, write an exception to skip those with db_align_start/end <0 and continue the output

# 191001
- discussed with Lindsay and perform the following checks
### 1. How many PDB chains are in the latest SCOPe?
    - I see that our stats page only counts PDB entries and domains. There should be exactly one RAF entry (with raf.last_release_id=18) per chain.
    - First, check how many pdb_chains are with last_release_id=18:
    
    `
    select count(*) from pdb_chain where id in (select pdb_chain_id from raf where last_release_id = 18);
+----------+
| count(*) |
+----------+
|   207690 |
+----------+
    `
    
    `
    select count(pdb_chain_id) from raf where last_release_id = 18;
+---------------------+
| count(pdb_chain_id) |
+---------------------+
|              207690 |
+---------------------+
    `    
    Thus the every pdb_chain in the latest scop have a unique raf entry with version 2 and release = 18 
    
    - Second, check on the version 3 and release = 18 
    
    `
    select count(*) from raf where pdb_chain_id in (select pdb_chain_id from raf where last_release_id = 18) and raf_version_id = 3; 
+----------+
| count(*) |
+----------+
|   207690 |
+----------+ `    
Thus, the version 3 also passes sanity check



### 2. You should find one SCOP domain per pdb_chain_tag, and the domain should be in class "l: Artifacts"
    - The tag from pdb_chain_id = 283946 does not seem to have a corresponding scop node with l tag
`select * from pdb_chain_tag where pdb_chain_id in (select pdb_chain_id from raf where last_release_id = 18) limit 5  
+-------+--------------+-----------+---------+-------------------+
| id    | pdb_chain_id | tag_start | tag_end | pdb_chain_diff_id |
+-------+--------------+-----------+---------+-------------------+
| 38653 |       283946 |         0 |       2 |            998580 |
| 38654 |       283947 |         0 |       2 |            998580 |
| 38655 |       283964 |         0 |       2 |            998580 |
| 38656 |       283970 |         0 |       2 |            998580 |
| 38671 |       283965 |         0 |       2 |            998580 |
+-------+--------------+-----------+---------+-------------------+
`  

`
select * from pdb_chain_diff where id = 998580;
+--------+--------------+--------------------+-------------+------------+----------+---------------+
| id     | pdb_chain_id | pdb_chain_dbref_id | category_id | diff_start | diff_end | diff_seq      |
+--------+--------------+--------------------+-------------+------------+----------+---------------+
| 998580 |       844321 |            1239740 |          31 |          6 |       18 | dkwemertditmk |
+--------+--------------+--------------------+-------------+------------+----------+---------------+
`

`
select * from pdb_chain_diff_category where id = 31;
+----+----------------+
| id | description    |
+----+----------------+
| 31 | EXPRESSION TAG |
+----+----------------+
`

`
select * from link_pdb where pdb_chain_id = 844321;
+---------+--------------+
| node_id | pdb_chain_id |
+---------+--------------+
| 1932194 |       844321 |
+---------+--------------+
`

`
select * from scop_node where id = 1932194;
+---------+--------+-----------+---------+-------------+----------+----------------+------------+------------------+
| id      | sunid  | sccs      | sid     | description | level_id | parent_node_id | release_id | curation_type_id |
+---------+--------+-----------+---------+-------------+----------+----------------+------------+------------------+
| 1932194 | 269986 | d.144.1.7 | d4wa9b_ | 4wa9 B:     |        8 |        1931656 |         16 |                5 |
+---------+--------+-----------+---------+-------------+----------+----------------+------------+------------------+
`

    - Query from -h scop scop
    
`
select count(*) from pdb_chain_tag where pdb_chain_id in (select pdb_chain_id from link_pdb where node_id in (select node_id from scop_node where sccs like 'l%' and level_id = 8));
+----------+
| count(*) |
+----------+
|    40585 |
+----------+
`

`
select count(*) from pdb_chain_tag;
+----------+
| count(*) |
+----------+
|    85736 |
+----------+
`

`
select count(*) from pdb_chain_tag where pdb_chain_id not in (select pdb_chain_id from link_pdb where node_id in (select node_id from scop_node where sccs like 'l%' and level_id = 8));
+----------+
| count(*) |
+----------+
|    45151 |
+----------+
`

    - Querying from doppelbock scop
`
select count(*) from pdb_chain_tag where pdb_chain_id in (select pdb_chain_id from link_pdb where node_id in (select node_id from scop_node where sccs like 'l%' and level_id = 8));
+----------+
| count(*) |
+----------+
|    11433 |
+----------+
1 row in set (1.52 sec)
`

`
MySQL [scop]> select count(*) from pdb_chain_tag;
+----------+
| count(*) |
+----------+
|    37082 |
+----------+
1 row in set (0.01 sec)
`

`
MySQL [scop]> select count(*) from pdb_chain_tag where pdb_chain_id not in (select pdb_chain_id from link_pdb where node_id in (select node_id from scop_node where sccs like 'l%' and level_id = 8));
+----------+
| count(*) |
+----------+
|    25649 |
+----------+
`

Thus, both scop and doppelbock server do not have a one to one mapping between artifact nodes and the pdb_chain_tag entries, and the scop server has much more entries for unknown reason.

### 3. Linking Uniprot for building more tags without human documentation
    - The main idea is to apply the seqadv metadata stored in pdb file and to classify some of the undomumented modifications into the tag
    - pdb_chain_diff section store all the properly documented seqadv - any sanity check on this?
    - how long should a tag be?
    - is the tag be at either ends or the indexed end?
    - should it be the end of every chain or the end of the entire uniprot sequence?

## 191004
- Fix the mysql query timeout issue by querying the 2 set separately and compare them
- the CAGI-EVAL paper outline

## 191014
- for the new function on extracting the tag from uniprot (as well as checking pdbseqadv)
- for each of the misaligned length in the table
- see whether the tag is already in pdb_chain_diff,
- see if the tag is in pdb_chain_tag
- if not, make it a tag.

- or should we instead do based on pdb_chain_diff and if the diff entry satisfy the new tag definition make it a tag?

## 191018
1. Inspection of CompareSeq Running progress 

`
select count(distinct(pdb_release_id)) from compare_seq;
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           64232 |
+---------------------------------+
`

`
select count(distinct(pdb_release_id)) from pdb_chain where id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           88499 |
+---------------------------------+
`

## Example Case
`
select * from pdb_chain_dbref where pdb_chain_id = 253495;
| id      | pdb_chain_id | db_name | db_code      | db_accession | db_align_start | db_align_end | pdb_align_start | pdb_align_end |
--------------+
| 5541300 |       253495 | PDB     | 2W6K         |              |             -2 |            0 |               0 |             2 |
| 5541301 |       253495 | UNP     | Q9HZQ0_PSEAE |              |              1 |          142 |               3 |           144 |
--------------+
`

## raf version = 3 
`
| 3073132 |              3 |       253495 |             NULL |            NULL | 2w6kA 0.02 38 090213 111010   -2  139   -2 gg  -1 ss   0 hh   1 mm   2 pp   3 ll   4 pp   5 ii   6 pp   7 ss   8 ll   9 ll  10 ii  11 aa  12 gg  13 ii  14 gg  15 cc  16 rr  17 rr  18 gg  19 cc  20 ss  21 aa  22 ee  23 hh  24 ll  25 rr  26 aa  27 ll  28 ll  29 ee  30 rr  31 tt  32 ll  33 gg  34 ee  35 hh  36 gg  37 rr  38 ss  39 ll  40 aa  41 ee  42 ll  43 dd  44 aa  45 ll  46 aa  47 ss  48 ii  49 dd  50 gg  51 kk  52 rr  53 dd  54 ee  55 pp  56 gg  57 ll  58 rr  59 qq  60 ll  61 aa  62 tt  63 ll  64 ll  65 ee  66 rr  67 pp  68 vv  69 hh  70 ff  71 ll  72 aa  73 pp  74 aa  75 vv  76 ll  77 hh  78 dd  79 yy  80 ee  81 pp  82 rr  83 ll  84 ll  85 ss  86 pp  87 ss  88 aa  89 vv  90 aa  91 ll  92 rr  93 ee  94 tt  95 gg  96 cc  97 ss  98 ss  99 vv 100 aa 101 ee 102 aa 103 aa 104 aa 105 ll 106 aa 107 ll 108 aa 109 ee 110 rr 111 ll 112 gg 113 gg 114 gg 115 rr 116 aa 117 dd 118 ll 119 ll 120 gg 121 aa 122 kk 123 rr 124 ss 125 dd 126 dd 127 rr 128 aa 129 ss 130 ii 131 aa 132 ll 133 aa 134 rr 135 ll 136 ll 137 tt 138 ee 139 rr 140 .e 141 .l 142 .p |
`

## raf version = 2

`
| 790208 |              2 |       253495 |               11 |              18 | 2w6kA 0.02 38 090213 111010   -2  139   -2 gg  -1 ss   0 hh   1 mm   2 pp   3 ll   4 pp   5 ii   6 pp   7 ss   8 ll   9 ll  10 ii  11 aa  12 gg  13 ii  14 gg  15 cc  16 rr  17 rr  18 gg  19 cc  20 ss  21 aa  22 ee  23 hh  24 ll  25 rr  26 aa  27 ll  28 ll  29 ee  30 rr  31 tt  32 ll  33 gg  34 ee  35 hh  36 gg  37 rr  38 ss  39 ll  40 aa  41 ee  42 ll  43 dd  44 aa  45 ll  46 aa  47 ss  48 ii  49 dd  50 gg  51 kk  52 rr  53 dd  54 ee  55 pp  56 gg  57 ll  58 rr  59 qq  60 ll  61 aa  62 tt  63 ll  64 ll  65 ee  66 rr  67 pp  68 vv  69 hh  70 ff  71 ll  72 aa  73 pp  74 aa  75 vv  76 ll  77 hh  78 dd  79 yy  80 ee  81 pp  82 rr  83 ll  84 ll  85 ss  86 pp  87 ss  88 aa  89 vv  90 aa  91 ll  92 rr  93 ee  94 tt  95 gg  96 cc  97 ss  98 ss  99 vv 100 aa 101 ee 102 aa 103 aa 104 aa 105 ll 106 aa 107 ll 108 aa 109 ee 110 rr 111 ll 112 gg 113 gg 114 gg 115 rr 116 aa 117 dd 118 ll 119 ll 120 gg 121 aa 122 kk 123 rr 124 ss 125 dd 126 dd 127 rr 128 aa 129 ss 130 ii 131 aa 132 ll 133 aa 134 rr 135 ll 136 ll 137 tt 138 ee 139 rr   E .e   E .l   E .p |
`

## It seems that raf version resolves some of the length difference 
- In this case, the first three pdb residues should be made into a tag as it exceeds the uniprot reference and is not in the alignment 
- The scop server pdb_chain_dbref table with raf_version = 2 is not very informative, as the NULL index makes it very hard to see which part is aligned uniprot 
- Take the intersect of doppelbock raf version 3 and scop_uniprot_align_191007 table as input pdb_chain_id

`
select count(distinct(pdb_chain_id)) from scop_uniprot_align_191007;
+-------------------------------+
| count(distinct(pdb_chain_id)) |
+-------------------------------+
|                        211040 |
+-------------------------------+
`

`
select count(distinct(r.pdb_chain_id)) from raf as r, scop_uniprot_align_191007 as a where a.pdb_chain_id = r.pdb_chain_id and r.raf_version_id = 3;
+---------------------------------+
| count(distinct(r.pdb_chain_id)) |
+---------------------------------+
|                          195016 |
+---------------------------------+
`

- not all the pdb_chain_id of version_id = 18 are in doppelbock, and so for now only pick the ones overlapped with raf_version = 3 available

`
select a.* from raf as r, scop_uniprot_align_191007 as a where a.pdb_chain_id = r.pdb_chain_id and r.raf_version_id = 3 limit 5;
+----------------+--------------+----------------+--------------+------------+--------------+------+
| db_align_start | db_align_end | raf_version_id | pdb_chain_id | raf_length | dbref_length | diff |
+----------------+--------------+----------------+--------------+------------+--------------+------+
|              1 |          142 |              2 |       253495 |        145 |          142 |    3 |
|              1 |          127 |              2 |       253537 |        133 |          127 |    6 |
|              1 |          127 |              2 |       253538 |        133 |          127 |    6 |
|             25 |          270 |              2 |       253242 |        247 |          246 |    1 |
|             25 |          270 |              2 |       253244 |        247 |          246 |    1 |
+----------------+--------------+----------------+--------------+------------+--------------+------+
`

## Another example
`
|  791843 |              2 |       253537 |               11 |              18 | 1y5hA 0.02 38 090206 111010    2  124    B .g   B .i   B .d   B .p   B .f   B .t   B .m   2 tt   3 tt   4 aa   5 rr   6 dd   7 ii   8 mm   9 nn  10 aa  11 gg  12 vv  13 tt  14 cc  15 vv  16 gg  17 ee  18 hh  19 ee  20 tt  21 ll  22 tt  23 aa  24 aa  25 aa  26 qq  27 yy  28 mm  29 rr  30 ee  31 hh  32 dd  33 ii  34 gg  35 aa  36 ll  37 pp  38 ii  39 cc  40 gg  41 dd  42 dd  43 dd  44 rr  45 ll  46 hh  47 gg  48 mm  49 ll  50 tt  51 dd  52 rr  53 dd  54 ii  55 vv  56 ii  57 kk  58 gg  59 ll  60 aa  61 aa  62 gg  63 ll  64 dd  65 pp  66 nn  67 tt  68 aa  69 tt  70 aa  71 gg  72 ee  73 ll  74 aa  75 rr  76 dd  77 ss  78 ii  79 yy  80 yy  81 vv  82 dd  83 aa  84 nn  85 aa  86 ss  87 ii  88 qq  89 ee  90 mm  91 ll  92 nn  93 vv  94 mm  95 ee  96 ee  97 hh  98 qq  99 vv 100 rr 101 rr 102 vv 103 pp 104 vv 105 ii 106 ss 107 ee 108 hh 109 rr 110 ll 111 vv 112 gg 113 ii 114 vv 115 tt 116 ee 117 aa 118 dd 119 ii 120 aa 121 rr 122 hh 123 ll 124 pp   E .e   E .h   E .a |
| 3073170 |              3 |       253537 |             NULL |            NULL | 1y5hA 0.02 38 090206 111010    2  124   -5 .g  -4 .i  -3 .d  -2 .p  -1 .f   0 .t   1 .m   2 tt   3 tt   4 aa   5 rr   6 dd   7 ii   8 mm   9 nn  10 aa  11 gg  12 vv  13 tt  14 cc  15 vv  16 gg  17 ee  18 hh  19 ee  20 tt  21 ll  22 tt  23 aa  24 aa  25 aa  26 qq  27 yy  28 mm  29 rr  30 ee  31 hh  32 dd  33 ii  34 gg  35 aa  36 ll  37 pp  38 ii  39 cc  40 gg  41 dd  42 dd  43 dd  44 rr  45 ll  46 hh  47 gg  48 mm  49 ll  50 tt  51 dd  52 rr  53 dd  54 ii  55 vv  56 ii  57 kk  58 gg  59 ll  60 aa  61 aa  62 gg  63 ll  64 dd  65 pp  66 nn  67 tt  68 aa  69 tt  70 aa  71 gg  72 ee  73 ll  74 aa  75 rr  76 dd  77 ss  78 ii  79 yy  80 yy  81 vv  82 dd  83 aa  84 nn  85 aa  86 ss  87 ii  88 qq  89 ee  90 mm  91 ll  92 nn  93 vv  94 mm  95 ee  96 ee  97 hh  98 qq  99 vv 100 rr 101 rr 102 vv 103 pp 104 vv 105 ii 106 ss 107 ee 108 hh 109 rr 110 ll 111 vv 112 gg 113 ii 114 vv 115 tt 116 ee 117 aa 118 dd 119 ii 120 aa 121 rr 122 hh 123 ll 124 pp 125 .e 126 .h 127 .a |
`

`
select * from pdb_chain_dbref where pdb_chain_id = 253537;
| id      | pdb_chain_id | db_name | db_code      | db_accession | db_align_start | db_align_end | pdb_align_start | pdb_align_end |
| 5541304 |       253537 | UNP     | O06186_MYCTU |              |              1 |          127 |               6 |           132 |
`

### For the above 2 cases, the end is aligned and the misaligned part is at the start; given such case, should it be treated as a tag?

## 191021
- Check CompareSeq running progress
  - still running without interruption

`
select count(distinct(pdb_release_id)) from compare_seq;
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           73804 |
+---------------------------------+
`

`
select count(distinct(pdb_release_id)) from pdb_chain where id in (select distinct(pdb_chain_id) from raf where last_release_id = 18);
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           88499 |
+---------------------------------+
`
- check the compare_seq table stats

`
select count(*) from compare_seq where raf_available = 0;
+----------+
| count(*) |
+----------+
|     3449 |
+----------+
`

`
select count(*) from compare_seq where raf_available = 1 and is_same = 1;
+----------+
| count(*) |
+----------+
|    32953 |
+----------+
`

`
select count(*) from compare_seq where raf_available = 1 and is_same = 0;
+----------+
| count(*) |
+----------+
|   141707 |
+----------+
`
- only ~17% that matches exactly

## Continue implementing UniprotTag function on sample cases

- Mapping to current database with Uniprot identifier and index
- How will the integration of SCOPe domain and hierarchy information of protein aids variant prediction
- New Website features and archetecture
- extract pertinent relationships between disease-related variants and structural/evolutionary information
  - Difference with other database
  - human variants
- At the same time, the renew of website could be done in parallel

## 191022

- The CompareSeq Code finished running
`
select count(distinct(pdb_release_id)) from compare_seq;
+---------------------------------+
| count(distinct(pdb_release_id)) |
+---------------------------------+
|                           76954 |
+---------------------------------+
`
- Catch the bug that the raf sequence captured is actually the atom version instead of seqres, issue fixed
- Reapply the function to compare seqres and will expect a potential large decrease of differences
- due to the time-limiting step of query valid dbref, I would restructure the current code :
  - instead of iterating on pdb_release_id, directly filter out all the valid dbref entries needed to be inspected
  - get the directly input on pdb_chain_id to be iterated, and note down minimum amount of information needed
  - The rationale is that checking each dbref directly should be more effective than using conditional on each iteration

0. create a filtered raf_version_3_release_18---raf table of raf_id and pdb_chain_id
   - with only raf_version_id = 3 of the last_release_id = 18

1. create a filtered pdb_chain_dbref_191022 that:
   - align to 'UNP'
   - has only pdb_chain_id in the raf_version_3_release_18 table
   - valid db_align_start, db_align_end, pdb_align_start and pdb_align_end 
   - db_align for uniprot is 1-indexed so both db_align_start and db_align_end >0
   - no NULL in pdb_align_start and pdb_align_end 
   - no length difference between db_align_end-db_align_start and pdb_align_end - pdb_align_start


   
`
MySQL [scop]> create table raf_version_3_release_18 as select a.* from raf as a, raf as b where a.raf_version_id = 3 and b.last_release_id = 18 and a.pdb_chain_id = b.pdb_chain_id;
Query OK, 207690 rows affected (22.63 sec)
Records: 207690  Duplicates: 0  Warnings: 0
`

`
MySQL [scop]> select count(pdb_chain_id) from raf_version_3_release_18;
+---------------------+
| count(pdb_chain_id) |
+---------------------+
|              207690 |
+---------------------+
1 row in set (1.20 sec)
`

### Now peform sanity check on raf_version_3_release_18

`
MySQL [scop]> select count(distinct(pdb_chain_id)) from raf_version_3_release_18;
+-------------------------------+
| count(distinct(pdb_chain_id)) |
+-------------------------------+
|                        207690 |
+-------------------------------+
1 row in set (0.23 sec)
`

`
MySQL [scop]> select count(distinct(pdb_chain_id)) from raf where last_release_id = 18;
+-------------------------------+
| count(distinct(pdb_chain_id)) |
+-------------------------------+
|                        207690 |
+-------------------------------+
`

### Now peform sanity check on pdb_chain_dbref_191022
`
MySQL [scop]> create table pdb_chain_dbref_191022 as select d.* from pdb_chain_dbref as d, raf_version_3_release_18 as r where d.db_name = 'UNP' and d.pdb_align_start is not NULL and d.pdb_align_end is not NULL and d.db_align_start > 0 and d.db_align_end > 0 and d.pdb_chain_id = r.pdb_chain_id;
Query OK, 197393 rows affected (2.46 sec)
Records: 197393  Duplicates: 0  Warnings: 0
`

`
MySQL [scop]> select count(distinct(pdb_chain_id)) from pdb_chain_dbref_191022;
+-------------------------------+
| count(distinct(pdb_chain_id)) |
+-------------------------------+
|                        193513 |
+-------------------------------+
1 row in set (0.15 sec)
`
### The pdb_chain_dbref_191022 does not cover the entire pdb_chain_id in raf_version_3_release_18 and there're cases where multiple db_ref corresponds to the same pdb_chain_id

`
select count(*) from pdb_chain_dbref_191022 where (db_align_end - db_align_start) = (pdb_align_end - pdb_align_start);
+----------+
| count(*) |
+----------+
|   193056 |
+----------+
`

## Create table where subtring is already there and length of alignment is checked
`
create table dbref_uniprot_seq as select d.*, s.seq_id, s.uniprot_id,  SUBSTRING(a.seq,d.db_align_start,(d.db_align_end - d.db_align_start + 1)) as frag from pdb_chain_dbref_191022 as d, uniprot as u, uniprot_seq as s, astral_seq as a  where (d.db_align_end - d.db_align_start) = (d.pdb_align_end - d.pdb_align_start) and d.db_code = u.long_id and u.id = s.uniprot_id and s.seq_id = a.id;
Query OK, 210587 rows affected (16.76 sec)
Records: 210587  Duplicates: 0  Warnings: 0
`
`
select count(distinct(id)) from dbref_uniprot_seq;
+---------------------+
| count(distinct(id)) |
+---------------------+
|              167249 |
+---------------------+
`

### Check the non-distinct entries in the table : multiple uniprot entries corresponding to the same dbref row db_code ---already obsolete!

`
| 5541234 |       252373 | UNP     | BIRC2_HUMAN  |              |            260 |          352 |               4 |            96 | 337186 |   35219620 | sisnlsmqthaarmrtfmywpssvpvqpeqlasagfyyvgrnddvkcfccdgglrcwesgddpwvehakwfprceflirmkgqefvdeiqgry                                                                                                                                                          |
| 5541234 |       252373 | UNP     | BIRC2_HUMAN  |              |            260 |          352 |               4 |            96 | 337186 |   92041370 | sisnlsmqthaarmrtfmywpssvpvqpeqlasagfyyvgrnddvkcfccdgglrcwesgddpwvehakwfprceflirmkgqefvdeiqgry 
`

### FIX 

`
create table dbref_uniprot_seq as select d.*, s.seq_id, s.uniprot_id,  SUBSTRING(a.seq,d.db_align_start,(d.db_align_end - d.db_align_start + 1)) as frag from pdb_chain_dbref_191022 as d, uniprot as u, uniprot_seq as s, astral_seq as a  where (d.db_align_end - d.db_align_start) = (d.pdb_align_end - d.pdb_align_start) and d.db_code = u.long_id and u.id = s.uniprot_id and s.seq_id = a.id and u.is_obsolete =0;
Query OK, 166942 rows affected (6.67 sec)
Records: 166942  Duplicates: 0  Warnings: 0
`

`
select count(distinct(id)) from dbref_uniprot_seq;
+---------------------+
| count(distinct(id)) |
+---------------------+
|              166942 |
+---------------------+
`

## Create the New Checking Function based on dbref_uniprot_seq and raf_version_3_release_18

- The new table, along with dbref_uniprot_seq, enables much more convenient and fast reference between diff, dbref and sequence

## 191024 Summarize on CompareSeq